@font-face {
  font-family: basketball;
  src: url(CursedTimerUlil-Aznm.ttf);
}

html {
  background-image: url(/court.jpg);
  background-size: cover;
  font-family: basketball;
  color: #d9d9d9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

main {
  background-color: #2c2c2c63;
  border-radius: 10px;
  width: 50%;
  height: auto;
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 20%), 0 10px 25px 0 rgb(0 0 0 / 19%);
}

article {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

#home,
#guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45%;
  height: auto;
  padding: 2%;
}

#reset {
  display: flex;
  justify-content: center;
  margin: 2%;
}

h3 {
  margin: 0;
  font-size: 3em;
  color: #ededed;
  text-shadow: 2px 2px 5px #2a2a2a;
  letter-spacing: 0.1em;
  width: 100%;
  text-align: center;
}

h4 {
  background-color: rgba(34, 34, 34, 0.504);
  border-radius: 8px;
  font-size: 5em;
  padding: 10%;
  margin: 5%;
  width: 55%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

button {
  cursor: pointer;
  font-family: basketball;
  color: rgb(247, 247, 247);
  padding: 0.8vh 1.6vw;
  background-color: rgba(34, 34, 34, 0.504);
  border-radius: 5px;
  width: 30%;
}

#btn-reset {
  cursor: pointer;
  font-family: basketball;
  color: rgb(247, 247, 247);
  padding: 0.8vh 1.6vw;
  background-color: rgba(34, 34, 34, 0.504);
  border-radius: 5px;
  width: 20%;
}
button:hover {
  color: rgb(101, 181, 103);
  background-color: rgba(68, 68, 68, 0.353);
  box-shadow: rgba(44, 59, 46, 0.25) 0px 6px 12px -2px,
    rgba(53, 53, 53, 0.3) 0px 3px 7px -3px;
}

#btn-reset:hover {
  color: rgb(255, 68, 68);
  size: bold;
  background-color: rgba(38, 38, 38, 0.721);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

footer {
  position: fixed;
  bottom: 0vh;
}

p {
  font-size: 0.8vw;
}

a {
  color: rgb(155, 154, 255);
}
